/* .header {
    background-image: url(/src/images/HP2.jpg);
    background-repeat: repeat-y;
      background-size: 100%;
      position:relative;
      top: 5px;
      left: 25px;
      width: 75%;
      height: 150px;
      transform:scaleY(0.8);
      top: 10px
  } */
  
.zone1-wise-area-Matranchal
  {
    background-image: url(/src/images/Matrancahl.png);
    background-repeat: no-repeat;
    border-width: 0px;
    position: absolute;
    top: 150px;
    left: 10px;
    width: 2000px;
    height: 1160px;
  }  

.zone-wise-area {
    background-image: url(/src/images/zone-wise-pressure.png);
    background-repeat: no-repeat;
    border-width: 0px;
    position: absolute;
    top: 150px;
    left: 10px;
    width: 2000px;
    height: 1160px;}

  .zone-wise-area-Pratitnagar
  {
    background-image: url(/src/images/pratitnagar.png);
    background-repeat: no-repeat;
    border-width: 0px;
    position: absolute;
    top: 150px;
    left: 10px;
    width: 2000px;
    height: 1160px;
  }

  .zone-wise-area-nathuawala
  {
    background-image: url(/src/images/nathuawala.png);
    background-repeat: no-repeat;
    border-width: 0px;
    position: absolute;
    top: 150px;
    left: 10px;
    width: 2000px;
    height: 1160px;
  }

.data-point101{
    color:white;
    background-color: black;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 270px;
    left: 200px;
    width: 120px;
    height: 30px
}

.data-point102{
    color: white;
    background-color: black;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 465px;
    left: 335px;
    width: 120px;
    height: 30px
}


.data-point103{
    color: white;
    background-color: black;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 550px;
    left: 335px;
    width: 120px;
    height: 30px
}


.data-point104{
    color: white;
    background-color: black;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 285px;
    left: 1520px;
    width: 120px;
    height: 30px
    
}

.data-point105{
    color: white;
    background-color: black;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 522px;
    left: 1490px;
    width: 120px;
    height: 30px
}

.data-point106{
    color: white;
    background-color: black;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 745px;
    left: 1490px;
    width: 120px;
    height: 30px
}

.data-point107{
    color: black;
    background-color: white;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 330px;
    left: 16%;
    width: 120px;
    height: 30px
}

.data-point108{
    color: black;
    background-color: white;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 230px;
    left: 51%;
    width: 120px;
    height: 30px
}

.data-point109{
    color: black;
    background-color: white;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 400px;
    left: 520px;
    width: 120px;
    height: 30px
}

.data-point1010{
    color: black;
    background-color: white;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 470px;
    left: 570px;
    width: 120px;
    height: 30px
}

.data-point1011{
    color: black;
    background-color: white;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 510px;
    left: 570px;
    width: 120px;
    height: 30px
}

.data-point1012{
    color: black;
    background-color: white;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 420px;
    left: 1470px;
    width: 120px;
    height: 30px
}

.data-point1013{
    color: black;
    background-color: white;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 640px;
    left: 12%;
    width: 120px;
    height: 30px
}

.data-point1014{
    color: black;
    background-color: white;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 710px;
    left: 14%;
    width: 120px;
    height: 30px
}
.data-point1015{
    color: black;
    background-color: white;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 750px;
    left: 14%;
    width: 120px;
    height: 30px
}

.data-point1016{
    color: black;
    background-color: white;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 650px;
    left: 56%;
    width: 120px;
    height: 30px
}

.data-point1017{
    color: black;
    background-color: white;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 70%;
    left: 23%;
    width: 120px;
    height: 30px
}

.data-point1018{
    color: black;
    background-color: white;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 76%;
    left: 25%;
    width: 120px;
    height: 30px
}

.data-point1019{
    color: black;
    background-color: white;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 79%;
    left: 25%;
    width: 120px;
    height: 30px
}

.data-point1020{
    color: black;
    background-color: white;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 72%;
    left: 70%;
    width: 120px;
    height: 30px
}



.zonewise-btn-group button {
    background-color: green; 
    border: solid 1px grey; 
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white; 
    padding: 10px 24px; 
    cursor: pointer;
    float: left; 
    margin-left:20px;
    margin-top: 55%;
    width:13%;
  }
  
  /* Clear floats (clearfix hack) */
  .zonewise-btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .zonewise-btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .zonewise-btn-group button:hover {
    background-color: white;
    color: green;
  }
  .Footer-text {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
  }